<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>BoolFlix</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/d573fb9cae.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

        <div id="root">
            <header>
                <div class="main-title">
                    <h1>BoolFlix</h1>
                </div>
                <div class="menu-select">
                    <input placeholder="Look for a movie" v-model="search" @keyup.enter="getSearch">
                    <button @click="getSearch">Search</button>
                </div>
            </header>

            <div class="wrapper">

                <section class="main">
                    <div class="box" v-for="media in allMedia">
                        <img class="poster-image" :src="baseUrl + 'w342' + media.poster_path">
                        <div class="media-info">
                            <p class="movie-title">
                                <span>Title: </span>
                                {{media.title ? media.title : media.name}}
                            </p>
                            <p class="movie-original-title">
                                <span>Original Title: </span>
                                {{media.original_title ? media.original_title : media.original_name}}
                            </p>
                            <div class="movie-language">
                                <span>Language: </span>
                                <img :src="'flags/' + media.original_language + '.png'" :alt="media.original_language">
                            </div>
                            <div class="movie-vote">
                                <span>Vote: </span>
                                <i class="fas fa-star" v-for="star in getVote(media.vote_average)"></i>
                                <i class="far fa-star" v-for="star in (5 - getVote(media.vote_average))"></i>
                            </div>
                            <div class="movie-overview">
                                <span>Overview: </span>
                                {{media.overview}}
                            </div>
                        </div>

                    </div>
                </section>
            </div>

        </div>

        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
