<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>BoolFlix</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/d573fb9cae.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

        <div id="root">
            <header>
                <div class="main-title">
                    <h1>Lista Film</h1>
                </div>
            </header>

            <div class="wrapper">
                <div class="menu-select">
                    <input placeholder="Look for a movie" v-model="search">
                    <button @click="getSearch">Search</button>
                </div>
                <section class="main">
                    <div class="box" v-for="movie in catalog" v-if="checker">
                        <img :src="baseUrl + 'w185' + movie.poster_path">
                        <p class="movie-title">{{movie.title}}</p>
                        <p class="movie-original-title">{{movie.original_title}}</p>
                        <div class="movie-language">
                            <img :src="'flags/' + movie.original_language + '.png'" :alt="movie.original_language">
                        </div>
                        <div class="movie-vote">
                            <i class="fas fa-star" v-for="star in getVote(movie.vote_average)"></i>
                            <i class="far fa-star" v-for="star in (5 - getVote(movie.vote_average))"></i>
                        </div>
                    </div>
                </section>
            </div>

        </div>

        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
