* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 10px 100px;
    background-color: black;
}

.main-title {
    display: flex;
    align-items: center;
}

.main-title h1 {
    text-transform: uppercase;
    color: red;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    background-color: #343a40;
}

.menu-select {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-select input {
    padding: 15px;
    margin-right: 20px;
}

.menu-select button {
    padding: 15px;
    background-color: red;
    color: black;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 100px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    max-width: 342px;
    max-height: 488px;
    margin: 20px;
    background-color: #adb5bd;
}

.box:hover {
    background-color: #282828;
    cursor: pointer;
}

.poster-image {
    width: 342px;
    height: 488px;
}

.box:hover .poster-image {
    visibility: hidden;
}

.media-info {
    position: absolute;
    width: 342px;
    height: 488px;
    padding: 50px;
    opacity: 0;
    border: 2px solid white;
}

.media-info:hover {
    opacity: 1;
}

.movie-title {
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold;
    color: lightgrey;
}

.movie-original-title {
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold;
    color: lightgrey;
}

.movie-language {
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold;
    color: lightgrey;
}

.movie-language img {
    vertical-align: middle;
    max-width: 25px;
}

.movie-vote {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: lightgrey;
    text-transform: uppercase;
}

/*-------------------------------------*/
.fas, .far {
    color: yellow;
}
